<?xml version="1.0"?>
<launch>
     <!--深度相机点云数据的坐标变换-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 -0.05 -1.57 0 -1.57 /camera /camera_depthcloud" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map2odom" args="0 0 0 1.57 0 0 /map /odom" />
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find six_wheel_robot)/urdf/robot.xacro" />
    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find six_wheel_robot)/worlds/hello.world" />
    </include>

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find six_wheel_robot)/config/config.rviz" output="screen"/>
</launch>